div.container {
    align-self: center;
}

form.create-form {
    text-align: center;
}

div.form-group {
    justify-content: center;
}

span.err {
    color: red;
}

div.card-header {
    background-color: cornflowerblue;
    color:brown;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
